@import url(/reset.css);

.travel {
  margin-top: 50px;
  &__header {
  }
  &__block {
    width: 425px;
    border-radius: 7px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.495);
  }
  &__block-wrapper {
    display: flex;
    column-gap: 30px;
  }
  &__img-wrapper {
  }

  &__img {
    border-radius: 7px 7px 0 0;
  }

  &__text {
    font-family: sans-serif;
    padding: 20px;
    &_type {
      display: block;
      font-family: sans-serif;
      color: gray !important ;
      letter-spacing: 2px;
      font-size: 14px;
    }
    &_header {
      display: block;
      padding-top: 20px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__date {
    padding-top: 20px;
    color: rgb(177, 177, 177) !important;
  }

  &__paragraph {
    padding-top: 20px;

    color: gray;
  }

  &__button {
    display: block;
    color: rgb(21, 0, 255) !important;

    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
    padding-top: 20px;
  }
}
.travel__date::before {
  content: '\1F55C';
  opacity: 40%;
  font-size: 12px;
  padding-right: 10px;
}
.travel__button::after {
  content: '\1F816';
  padding-left: 10px;
}
